.contact {
    padding: 0px 0;
    background: #e3f1ff;

  }

.contact > .container {
    height: fit-content;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .contact__title{
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .contact img {
    width: 20em; /* Set the desired width */
    object-fit: contain;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
   }

   .contact__us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   }

   .contact_info{
    display: flex;
    flex-direction: column;
   }
  
  .contact h2 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact p {
    font-size: 18px;
    color: #666;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
  }
  
  .contact__form input,
  .contact__form textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact__form button {
    padding: 10px 20px;
    background: #ff6347;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact__form button:hover {
    background: #e55347;
  }
  