.home {
    display: flex;
    align-items: center;
    padding: 8em 0;
    min-height: 85vh;
  }
  
  .home__intro {
    flex: 1;
  }
  .home__intro--text{
    
  }
  
  .home__intro h2 {
    font-size: 36px;
    color: #333;
  }
  
  .home__intro p {
    font-size: 1em;
    color: #666;
  }
  
  .home__image {
    flex: 1;
    text-align: center;
  }
  
  .home__image img {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
  }
  