/* Services.css */
.services {
  padding: 30px 0;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  max-width: 1200px;
  margin: 0 auto;
}

.services__title {
  font-size: 36px;
  color: #333;
  margin-bottom: 0em;
}

.services__list {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0 1em; */
}
.service__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.services__item {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 1em;
  flex: 1 1 33%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.services__item.expanded {
  flex: 1 1 100%;
  transform: scale(1.05);
}

.services__item-header {
  padding: 1.5em;
  background-color: #e3f1ff;
  border-bottom: 1px solid #ddd;
  border-radius: 8px 8px 0 0; 
}

.services__item h3 {
  margin: 0;
  font-size: 1em;
  color: #333;
}

.services__details {
  padding: 1.5em;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}

.services__image {
  width: 4em; /* Set the desired width */
  height: 4em; /* Set the desired height */
  object-fit: contain; /* Maintain aspect ratio */
}

.services__details p {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .services__item {
    flex: 1 1 100%;
  }
}
