.services {
    padding: 50px 0;
  }

  .services > .container {
    height: fit-content;
    display: flex;
    flex-direction: column; 
  }
  
  .services h2 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .services__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .services__item {
    flex: 1 1 45%; /* Two items per row with some space between */
    margin: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: fit-content;
  }
  
  .services__item h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .services__item p {
    font-size: 18px;
    color: #666;
  }
  