@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.main{
  display: flex;
  align-items: space-between;
  justify-content: center;
}
.content section {
  margin-bottom: 50px; /* Adjust the spacing between sections */
}
